# Python cache files
**/__pycache__/

# Virtual environment
**/venv/
**/.env/
**/env/
**/.venv/

# IDE and editor files
**/.vscode/
**/.idea/
**/*.swp

# Pytest cache
.cache/

# OS-specific files
**/.DS_Store
**/Thumbs.db

# Ignore UKB data and master files
src/ukb/data/**
master_files/**
!master_files/**/*.csv
src/main/**.ipynb
